# App
NODE_ENV=development
PORT=5000
HOST=127.0.0.1

# Security (WAJIB diganti, jangan pakai default)
# Minimal 32-64 chars random
SESSION_SECRET=bb234eb625254c9079bffb8561f394067212d326b58d428960105d6d3d488be8

# Database (MySQL)
# Format: mysql://USER:PASSWORD@HOST:PORT/DB_NAME
RUN_SEED=true
SEED_ADMIN_PASSWORD=Admin@123
DATABASE_URL=mysql://root:simple159@127.0.0.1:3306/bapperida_db

VITE_TINYMCE_API_KEY=n6orr52fyuwpmh2yqlhh3ng0nqd9lwauyg0jowt7vr4twq5g